<style>
  .form-control, .form-select {
    border-width: 3px; /* Aumentando a espessura da borda */
  }
</style>

<div class="container mt-4">
    <!-- Título da página -->
  <h3 class="fw-bold mb-4">Servidores</h3>
  <button class="btn btn-primary mb-3" (click)="openAddModal()">Adicionar Servidor</button>

    <!-- Tabela -->
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead class="table-active">
        <tr>
          <th scope="col">Inscrição</th>
          <th scope="col">Nome Completo</th>
          <th scope="col">Nome do Setor</th>
          <th scope="col">Nome da Agência</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let servidor of servidores; let i = index">
          <td>{{ servidor.inscricao }}</td>
          <td>{{ servidor.nomeCompleto }}</td>
          <td>{{ servidor.nomeSetor }}</td>
          <td>{{ servidor.nomeAgencia }}</td>
          <td>
            <button class="btn btn-sm btn-primary me-2" (click)="openEditModal(i)">Editar</button>
            <button class="btn btn-sm btn-danger" (click)="openDeleteModal(i)">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Modal de Adição de Servidor -->
  <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addModalLabel">Adicionar Servidor</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="servidorForm" (ngSubmit)="addServidor()">
            <div class="mb-3">
              <label for="inscricao" class="form-label">Inscrição</label>
              <input type="text" class="form-control" id="inscricao" formControlName="inscricao" placeholder="Insira a inscrição">
              <div *ngIf="servidorForm.get('inscricao')?.invalid && servidorForm.get('inscricao')?.touched" class="invalid-feedback">
                Por favor, insira uma inscrição.
              </div>
            </div>
            <div class="mb-3">
              <label for="nomeCompleto" class="form-label">Nome Completo</label>
              <input type="text" class="form-control" id="nomeCompleto" formControlName="nomeCompleto" placeholder="Insira o nome completo">
              <div *ngIf="servidorForm.get('nomeCompleto')?.invalid && servidorForm.get('nomeCompleto')?.touched" class="invalid-feedback">
                Por favor, insira o nome completo.
              </div>
            </div>
            <div class="mb-3">
              <label for="nomeSetor" class="form-label">Nome do Setor</label>
              <input type="text" class="form-control" id="nomeSetor" formControlName="nomeSetor" placeholder="Insira o nome do setor">
              <div *ngIf="servidorForm.get('nomeSetor')?.invalid && servidorForm.get('nomeSetor')?.touched" class="invalid-feedback">
                Por favor, insira o nome do setor.
              </div>
            </div>
            <div class="mb-3">
              <label for="nomeAgencia" class="form-label">Nome da Agência</label>
              <input type="text" class="form-control" id="nomeAgencia" formControlName="nomeAgencia" placeholder="Insira o nome da agência">
              <div *ngIf="servidorForm.get('nomeAgencia')?.invalid && servidorForm.get('nomeAgencia')?.touched" class="invalid-feedback">
                Por favor, insira o nome da agência.
              </div>
            </div>
            <button type="submit" class="btn btn-primary me-2" [disabled]="servidorForm.invalid">Adicionar</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal de Edição de Servidor -->
  <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabel">Editar Servidor</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="servidorForm" (ngSubmit)="editServidor()">
            <div class="mb-3">
              <label for="inscricao" class="form-label">Inscrição</label>
              <input type="text" class="form-control" id="inscricao" formControlName="inscricao" placeholder="Insira a inscrição">
              <div *ngIf="servidorForm.get('inscricao')?.invalid && servidorForm.get('inscricao')?.touched" class="invalid-feedback">
                Por favor, insira uma inscrição.
              </div>
            </div>
            <div class="mb-3">
              <label for="nomeCompleto" class="form-label">Nome Completo</label>
              <input type="text" class="form-control" id="nomeCompleto" formControlName="nomeCompleto" placeholder="Insira o nome completo">
              <div *ngIf="servidorForm.get('nomeCompleto')?.invalid && servidorForm.get('nomeCompleto')?.touched" class="invalid-feedback">
                Por favor, insira o nome completo.
              </div>
            </div>
            <div class="mb-3">
              <label for="nomeSetor" class="form-label">Nome do Setor</label>
              <input type="text" class="form-control" id="nomeSetor" formControlName="nomeSetor" placeholder="Insira o nome do setor">
              <div *ngIf="servidorForm.get('nomeSetor')?.invalid && servidorForm.get('nomeSetor')?.touched" class="invalid-feedback">
                Por favor, insira o nome do setor.
              </div>
            </div>
            <div class="mb-3">
              <label for="nomeAgencia" class="form-label">Nome da Agência</label>
              <input type="text" class="form-control" id="nomeAgencia" formControlName="nomeAgencia" placeholder="Insira o nome da agência">
              <div *ngIf="servidorForm.get('nomeAgencia')?.invalid && servidorForm.get('nomeAgencia')?.touched" class="invalid-feedback">
                Por favor, insira o nome da agência.
              </div>
            </div>
            <button type="submit" class="btn btn-primary me-2" [disabled]="servidorForm.invalid">Salvar</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal de Exclusão de Servidor -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Excluir Servidor</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Tem certeza de que deseja excluir este servidor?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="deleteServidor()">Excluir</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>