<style>
  .form-control, .form-select {
    border-width: 3px; /* Aumentando a espessura da borda */
  }
</style>

<div class="container mt-4">
  <!-- Título da página -->
  <h3 class="fw-bold mb-4">Gestão de Componentes</h3>
  <h5 class="mb-4">Lista dos componentes principais dos computadores</h5>

  <!-- Contêiner flexível para os botões -->
  <div class="d-flex justify-content-between mb-3">
    <!-- Botão para ocultar e abrir os filtros -->
    <button class="btn btn-secondary" (click)="toggleFiltros()">
      {{ mostrarFiltros ? 'Ocultar Filtros' : 'Mostrar Filtros' }}
    </button>

    <!-- Botão para adicionar nova peça -->
    <button class="btn btn-primary" (click)="openAddModal()">Adicionar Componente</button>
  </div>

  <!-- Filtros para a tabela -->
  <div class="row mb-3" *ngIf="mostrarFiltros">
    <div class="col-md-3 mb-3">
      <label for="filterCodigo" class="form-label">Código</label>
      <input type="text" id="filterCodigo" class="form-control" [(ngModel)]="filtroCodigo">
    </div>
    <div class="col-md-3 mb-3">
      <label for="filterNome" class="form-label">Nome</label>
      <input type="text" id="filterNome" class="form-control" [(ngModel)]="filtroNome">
    </div>
    <div class="col-md-3 mb-3">
      <label for="filterDescricao" class="form-label">Descrição</label>
      <input type="text" id="filterDescricao" class="form-control" [(ngModel)]="filtroDescricao">
    </div>
    <div class="col-md-3 mb-3">
      <label for="filterTipo" class="form-label">Tipo</label>
      <input type="text" id="filterTipo" class="form-control" [(ngModel)]="filtroTipo">
    </div>
    <div class="col-md-3 mb-3">
      <label for="filterFabricante" class="form-label">Fabricante</label>
      <input type="text" id="filterFabricante" class="form-control" [(ngModel)]="filtroFabricante">
    </div>
    <div class="col-md-3 mb-3">
      <label for="filterTamanhoMem" class="form-label">Tamanho Memória</label>
      <input type="text" id="filterTamanhoMem" class="form-control" [(ngModel)]="filtroTamanhoMem">
    </div>
    <div class="col-md-3 mb-3">
      <label for="filterNumeroSerie" class="form-label">Número de Série</label>
      <input type="text" id="filterNumeroSerie" class="form-control" [(ngModel)]="filtroNumeroSerie">
    </div>
    <div class="col-md-3 mb-3">
      <label for="filterDataAquisicao" class="form-label">Data de Aquisição</label>
      <input type="date" id="filterDataAquisicao" class="form-control" [(ngModel)]="filtroDataAquisicao">
    </div>
  </div>

  <!-- Tabela de Componentes -->
  <div class="table-responsive min-vh-100">
    <table class="table table-striped table-bordered">
      <thead class="table-active" app-thead-ordenacao
        [colunas]="colunas"
        (ordenacaoAtualizada)="ordenar($event)">
      </thead>
      <tbody>
        <tr *ngFor="let componente of registrosFiltrados()">
          <td>{{ componente.codigo }}</td>
          <td>{{ componente.nome }}</td>
          <td>{{ componente.descricao }}</td>
          <td>{{ componente.tipo?.nome }}</td>
          <td>{{ componente.fabricante }}</td>
          <td>{{ componente.tamanho_mem }}</td>
          <td>{{ componente.n_serie }}</td>
          <td>{{ componente.data_aquisicao | date }}</td>
          <td>
            <button class="btn btn-sm btn-primary me-2 mb-2" (click)="openEditModal(componente)">Editar</button>
            <button class="btn btn-sm btn-danger mb-2" (click)="openDeleteModal(componente.id)">Excluir</button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="9">
            <span *ngIf="registros.length == 0">Nenhum registro encontrado</span>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<!-- Modal de Adição de Componente -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Adicionar Componente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addForm" (ngSubmit)="confirmAdd()">
          <div class="mb-3">
            <label for="addCodigo" class="form-label">Código</label>
            <input type="text" class="form-control" id="addCodigo" formControlName="codigo">
          </div>
          <div class="mb-3">
            <label for="addNome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="addNome" formControlName="nome">
          </div>
          <div class="mb-3">
            <label for="addDescricao" class="form-label">Descrição</label>
            <input type="text" class="form-control" id="addDescricao" formControlName="descricao">
          </div>
          <div class="mb-3">
            <label for="addTipo" class="form-label">Tipo</label>
            <select id="addTipo" class="form-select" formControlName="tipo">
              <option *ngFor="let tipo of tiposComponentes" [value]="tipo.id">{{ tipo.nome }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="addFabricante" class="form-label">Fabricante</label>
            <input type="text" class="form-control" id="addFabricante" formControlName="fabricante">
          </div>
          <div class="mb-3">
            <label for="addTamanhoMem" class="form-label">Tamanho Memória</label>
            <input type="text" class="form-control" id="addTamanhoMem" formControlName="tamanho_mem">
          </div>
          <div class="mb-3">
            <label for="addNumeroSerie" class="form-label">Número de Série</label>
            <input type="text" class="form-control" id="addNumeroSerie" formControlName="n_serie">
          </div>
          <div class="mb-3">
            <label for="addDataAquisicao" class="form-label">Data de Aquisição</label>
            <input type="date" class="form-control" id="addDataAquisicao" formControlName="data_aquisicao">
          </div>
          <button type="submit" class="btn btn-primary me-2">Adicionar</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal de Edição de Componente -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Editar Componente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editForm" (ngSubmit)="confirmEdit()">
          <div class="mb-3">
            <label for="editCodigo" class="form-label">Código</label>
            <input type="text" class="form-control" id="editCodigo" formControlName="codigo">
          </div>
          <div class="mb-3">
            <label for="editNome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="editNome" formControlName="nome">
          </div>
          <div class="mb-3">
            <label for="editDescricao" class="form-label">Descrição</label>
            <input type="text" class="form-control" id="editDescricao" formControlName="descricao">
          </div>
          <div class="mb-3">
            <label for="editTipo" class="form-label">Tipo</label>
            <select id="editTipo" class="form-select" formControlName="tipo">
              <option *ngFor="let tipo of tiposComponentes" [value]="tipo.id">{{ tipo.nome }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="editFabricante" class="form-label">Fabricante</label>
            <input type="text" class="form-control" id="editFabricante" formControlName="fabricante">
          </div>
          <div class="mb-3">
            <label for="editTamanhoMem" class="form-label">Tamanho Memória</label>
            <input type="text" class="form-control" id="editTamanhoMem" formControlName="tamanho_mem">
          </div>
          <div class="mb-3">
            <label for="editNumeroSerie" class="form-label">Número de Série</label>
            <input type="text" class="form-control" id="editNumeroSerie" formControlName="n_serie">
          </div>
          <div class="mb-3">
            <label for="editDataAquisicao" class="form-label">Data de Aquisição</label>
            <input type="date" class="form-control" id="editDataAquisicao" formControlName="data_aquisicao">
          </div>
          <button type="submit" class="btn btn-primary me-2">Salvar</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal de Exclusão de Componente -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Excluir Componente</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Tem certeza de que deseja excluir este componente?</p>
          <p><strong>{{ componenteSelecionado?.nome }}</strong></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-danger" (click)="confirmDelete()">Excluir</button>
        </div>
      </div>
    </div>
  </div>
</div>