<style>
    .form-control, .form-select {
      border-width: 3px; /* Aumentando a espessura da borda */
    }
  </style>
  
  <div class="container mt-4">
    <!-- Título da página -->
    <h3 class="fw-bold mb-4">Minhas Requisições</h3>
    <h5 class="mb-4">Tabela com todas as requisições registradas no sistema</h5>
  
    <!-- Contêiner flexível para os botões -->
    <div class="d-flex justify-content-between mb-3">
      <!-- Botão para adicionar nova requisição -->
      <button class="btn btn-primary mb-3" (click)="openAddModal()">Nova Requisição</button>
    </div>
  
    <!-- Spinner de Carregamento -->
    <div class="text-center my-4">
      <div class="spinner-border" role="status" *ngIf="loading">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  
    <!-- Tabela de Requisições -->
    <div class="table-responsive min-vh-100">
      <table class="table table-striped table-bordered" *ngIf="!loading">
        <thead class="table-active">
          <tr>
            <th>Data</th>
            <th>Status</th>
            <th>Descrição</th>
            <th>Justificativa</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let solicitacao of requisicoes">
            <td>{{ solicitacao.data | date }}</td>
            <td>{{ solicitacao.status }}</td>
            <td>{{ solicitacao.descricao }}</td>
            <td>{{ solicitacao.justificativa }}</td>
            <td>
              <button class="btn btn-sm btn-primary me-2" (click)="openEditModal(solicitacao)">Editar</button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5">
              <span *ngIf="requisicoes.length == 0">Nenhuma requisição encontrada</span>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  
  <!-- Modal de Nova Requisição -->
  <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addModalLabel">Nova Requisição</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="addForm" (ngSubmit)="confirmAdd()">
            <div class="mb-3">
              <label for="addDescricao" class="form-label">Descrição</label>
              <input type="text" class="form-control" id="addDescricao" formControlName="descricao">
            </div>
            <div class="mb-3">
              <label for="addJustificativa" class="form-label">Justificativa</label>
              <input type="text" class="form-control" id="addJustificativa" formControlName="justificativa">
            </div>
            <button type="submit" class="btn btn-primary me-2">Enviar</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal de Edição de Requisição -->
  <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabel">Editar Requisição</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="editForm" (ngSubmit)="confirmEdit()">
            <div class="mb-3">
              <label for="editDescricao" class="form-label">Descrição</label>
              <input type="text" class="form-control" id="editDescricao" formControlName="descricao">
            </div>
            <div class="mb-3">
              <label for="editJustificativa" class="form-label">Justificativa</label>
              <input type="text" class="form-control" id="editJustificativa" formControlName="justificativa">
            </div>
            <button type="submit" class="btn btn-primary me-2">Salvar</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          </form>
        </div>
      </div>
    </div>
  </div>